
center {
    margin: 5px auto
}

.count-down {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: darkcyan;
    text-align: center;
    transition: .5s all ease-in-out
}
.btnrequest {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    float: right;
    font-size: 25px
}
.linerequest {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid red;
    padding: 0;
    width: 75px;
    float: right;
    margin-top: 23.5px;
}
.count-down span {
    height: 75px;
    width: 75px;
    display: inline-block;
    border-radius: 50%;
    margin: 37.5px auto;
    font-family: sans-serif;
    line-height: 75px;
    color: azure;
    font-size: 50px;
    font-weight: bold
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size:16px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/eot/iranyekanwebbold.eot');
    src: url('fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
url('fonts/woff2/iranyekanwebbold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
url('fonts/woff/iranyekanwebbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('fonts/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('fonts/eot/iranyekanweblight.eot');
    src: url('fonts/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/woff2/iranyekanweblight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/woff/iranyekanweblight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/eot/iranyekanwebregular.eot');
    src: url('fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/woff2/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/woff/iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}

/* Latin fonts (Roboto) */

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/eot/robotobold.eot');
    src: url('fonts/eot/robotobold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/woff2/robotobold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/woff/robotobold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/ttf/robotobold.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    src: url('fonts/eot/robotolight.eot');
    src: url('fonts/eot/robotolight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/woff2/robotolight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/woff/robotolight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/ttf/robotolight.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/eot/robotoregular.eot');
    src: url('fonts/eot/robotoregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/woff2/robotoregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/woff/robotoregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/ttf/robotoregular.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/eot/iranyekanwebbold(fanum).eot');
    src: url('fonts/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/woff2/iranyekanwebbold(fanum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/woff/iranyekanwebbold(fanum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('fonts/eot/iranyekanweblight(fanum).eot');
    src: url('fonts/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/woff2/iranyekanweblight(fanum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/woff/iranyekanweblight(fanum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/eot/iranyekanwebregular(fanum).eot');
    src: url('fonts/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('fonts/woff2/iranyekanwebregular(fanum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/woff/iranyekanwebregular(fanum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}


body {
    font-family: iranyekan,roboto,Arial !important;
    background-color: #f0f0f0;
    direction:rtl;
    text-align:right;
}

h1, h2, h3, h4, h5, h6, input, textarea, p, nav {
    font-family: iranyekan,roboto,Arial !important;
}
.nav-link {
    font-family: iranyekan,roboto,Arial !important;
    text-align: right;
    margin-right: 10px;
    height: 30px;
    margin-bottom: 4px;
}
.no-image{
    background-color:black;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    height:800px;
    color:white;
    padding:10%;
    font-size:17px;
    text-align:center;
}
.eng {
    font-family: roboto,iranyekan !important;
    color: gray;
}
.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
.dropdown{
    direction:rtl;
}
.dropdown-menu{
    right:15px;
    width:400px;
    font-size:15px;
}
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.dropdown-item {
    text-align: right;

}
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
.header {
    text-align: right;
    font-size: 2vw;
    margin-top:15px;
}
.sectiontext {
    text-align: center;
    position:absolute;
    top:20%;
    font-weight:bold;
}
.address {
    text-align: right;
    font-size: 1.2vw;
    margin-top: 15px;
}
.login {
    width: 420px;
    height: auto;
    margin: 0;
    padding: 15px 5px;
    background-color:white;
    border-radius:7px;
}

.login-header {
    color: #03416A;
    text-align: center;
    font-size: 1.3vw;
    padding-top: 10px;
}

form {
    text-align: center;
}

.login-user {
    font-family: 'Open Sans', 'sans-serif';
    border: 1px solid #acacac;
    color: #666;
    opacity: .7;
    border-radius: 5px;
    padding: 7px 12px;
    text-align: center;
    margin-bottom: 20px;
    width: 250px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    font-size: 14px;
}

.login-user:focus {
    border: 1px solid #55acee;
    opacity: 1;
    width: 320px;
    outline: none;
    color: #55acee;
    background-color: #EFFFFF;
}

/* submit button */
.btn-login-user {
    padding: 10px 15px;
    font-size: 22px;
    width: 320px;
    color: #fff;
    position: relative;
    display: inline-block;
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
    outline: none;
    border: none;
}

.btn-login-user:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 0px 0px 0px;
}

#patient-login {
    padding: 20px 40px;
    background-image: url(../../img/dr-login-back.jpg);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:500px;
}
.img-real-thumb {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: transparent;
    border: 1.5px solid white;
    width: 150px;
    height: 120px;
    margin-right: 5px;
    margin-top: 5px !important;
    padding: 1px !important;
    cursor: pointer;
}
#dr-login {
    padding: 20px 40px;
    background-image: url(../../img/z.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 600px;
}
.carousel-inner img {
    width: 100%;
    height: 500px;
    margin-top:15px;
    border-radius:10px;
}
section {
    background-color: white;
    color: #03416A;
    display: block;
    margin-bottom: 1.4rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.157);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.157);
}
section h3 {
    margin-right: 25px;
}
.news-img {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.news-header {
    font-size: 16px;
    color: #03416A;
    padding: 10px;
    font-weight:bold;
    text-align:center;
}
.textto{
    padding:10px;
    text-align:justify;
    padding-bottom:30px;
    font-size:14px;
    color:black;
}
.news {
    height: 500px;
    transition: all 0.3s ease;
}
.news-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
/*.news:hover {
    box-shadow: 0 5px 20px #777;
    cursor: pointer;
    transform: scale(1.05);
}*/
.fa{
    font-size:19px;
    font-weight:bold;
}
section.absolute {
    position: absolute;
    top: 80px;

}
a:link {
    text-decoration: none;
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;

}
#overlay {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#overlay div {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -32px;
    margin-left: -32px;
}
#largediv {
    background-color: background-color:rgba(0,0,0, 0.9);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#largediv div {
    position: absolute;
    left: 45%;
    top: 45%;
    margin-top: -32px;
    margin-left: -32px;
}
largediv2 {
    background-color: black;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#largediv2 div {
    position: absolute;
    left: 45%;
    top: 45%;
    margin-top: -32px;
    margin-left: -32px;
}
.largediv {
    background-color: black;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.largediv div {
    position: absolute;
    left: 45%;
    top: 45%;
    margin-top: -32px;
    margin-left: -32px;
}
#overlaydoctor {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#overlaydoctor div {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -32px;
    margin-left: -32px;
}
#overlayClinic {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#overlayClinic div {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -32px;
    margin-left: -32px;
}
#overlayPatient {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#overlayPatient div {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -32px;
    margin-left: -32px;
}
footer {
    padding: 7px 10px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 998;
    font-size: 13px;
}

.largeimageview {
    height: 98%;
    width: 98%;
    display: none;
    position: fixed;
    z-index: 9999;
    top: 1%;
    left: 1%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    direction: ltr;
    transition: transform .35s;
    border-radius:10px;
    border:solid 1px white;


}
.tmb-panel{

}
.largeimageview2 {
    height: 98%;
    width: 98%;
    display: none;
    position: fixed;
    z-index: 999;
    top: 1%;
    left: 1%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    direction: ltr;
    transition: transform .35s;
    border-radius: 10px;
    border: solid 1px white;
    opacity: 1 !important;
}
.sessionlayout {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 1%;
    left: 1%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    direction: ltr;
    transition: transform .35s;
    border-radius: 10px;
    border: solid 1px white;
    overflow: auto !important;
}
.tools-image{
    display:block;
    margin-right:auto;
    margin-left:auto;
    cursor:pointer;
}
.tools {
    width: 60px;
    position: absolute;
    top: 155px;
    left: 0;
    background-color: #292F33;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 999;
    padding: 5px;
}
.WindowLevel {
    display:none;
    width: 250px;
    position: absolute;
    top: 435px;
    left: 0px;
    background-color: #292F33;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 999;
    padding: 5px;
}
.largeimageview2 .closebtn {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 60px;
    cursor: pointer;
    color: white;
    z-index: 9999;
}
.largeimageview2 .closebtn:hover {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 60px;
    cursor: pointer;
    color: red;
    z-index: 9999;
}
.sticky{
    padding:2px;
}
.largeimageview-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.largeimageview-content2 {
    position: relative;
    top: 26%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.largeimageview .closebtn {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 60px;
    cursor: pointer;
    color: white;
    z-index:99999;
}

.largeimageview .closebtn:hover {
    color: red;
}

label.custom-control-label {
    position: relative;
    padding-right: 1.5rem;
}

label.custom-control-label::before, label.custom-control-label::after {
    right: 0;
    left: auto;
}
@media screen and (max-width: 450px) {
    .adminicontext {
        font-size: 11px !important;
    }
    .sipviewer{
        width:1200px;
    }
    .header {
        text-align: center;
        font-size: 5vw;
        margin-top: 5px;
    }
    .img-icon{
        position:relative;
        right:30%;

    }
    .address {
        text-align: right;
        font-size: 2.5vw;
        margin-top: 15px;
    }

    .login-header {
        text-align: center;
        font-size: 4vw;
        padding-top: 10px;
    }

    .login {
        width: 90%;
        height: auto;
        margin: 0;
        padding: 15px 5px;
        background-color: white;
        border-radius: 7px;
    }

    .btn-login-user {
        padding: 10px 15px;
        font-size: 22px;
        width: 90%;
        color: #fff;
        position: relative;
        display: inline-block;
        background-color: #55acee;
        box-shadow: 0px 5px 0px 0px #3C93D5;
        outline: none;
        border: none;
    }
    .drawrpallete-wrapper{
        z-index:9999999;
    }
    .btnrequest {
        border-radius: 25px;
        height: 30px;
        width: 30px;
        float: right;
        font-size: 12.5px
    }
    .linerequest {
        display: block;
        height: 1px;
        border: 0;
        border-top: 3px solid red;
        padding: 0;
        width: 50px;
        float: right;
        margin-top: 12px;
    }
    .login-user {
        font-family: 'Open Sans', 'sans-serif';
        border: 1px solid #acacac;
        color: #666;
        opacity: .7;
        border-radius: 5px;
        padding: 7px 12px;
        text-align: center;
        margin-bottom: 20px;
        width: 80%;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        font-size: 14px;
    }
    .login-user:focus {
        border: 1px solid #55acee;
        opacity: 1;
        width: 92%;
        outline: none;
        color: #55acee;
        background-color: #EFFFFF;
    }
}

@media (max-width: 500px) {
    .sectiontext {
        text-align: center;
        position: relative;
        top: 0;
        right:0 !important;
        font-weight: bold;
        font-size:15px;
    }
    section.absolute {
        position: absolute;
        top: 100px;
    }
    .adminicontext {
        font-size: 11px;
    }
}
.dropdown{
    text-align:right !important;
}
.dropdown-menu {
    text-align: right !important;
}
